#resultado {
    width: 50px;
  border-radius: 25% 10%;
    background-color: blue;
    border: 2px solid black;
    margin: 2rem;
    color:white;
    padding:5%;
  }
  
  h1 {
    color: red;
  }
#container{
  display: flex;
  justify-content: center;
  flex-direction: row;
}
img{
 width: 2rem;
}
li{
  list-style: none;
  display: inline-block;
  padding: 2rem;
}
